<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <h4><%= link_to group.name, group %></h4>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br/><br/>
<% @client = GooglePlaces::Client.new("AIzaSyD2koU2SoZWJ6N4ay0oirdHnEpz7Wm4bxI") %>

spots_by_radar

<%  @c = @client.spots_by_radar(10.008935,76.3506809, :name => 'kochi' ) %>
<% @c.each do |client|
%>
<%= client.lat  %> <br>
<% end %>

<br><br>

spots
<% @clients = @client.spots(10.008935,76.3506809, :query => 'kochi' )

@clients.each do |client|
%>
<%= client.name %> <br>
<% end %>
 <%

@client = GooglePlaces::Client.new("AIzaSyD2koU2SoZWJ6N4ay0oirdHnEpz7Wm4bxI")
@output = @client.predictions_by_input(
    'San F',
    lat: 0.0,
    lng: 0.0,
    radius: 20000000,
    types: 'geocode',
    language: I18n.locale,
)

%>
-----------------------------------------------------------------------------------------------------------------------
<% @output.each do |output|%>
<%= output.description  %>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<% end %>
---------------------------------------------------------------------------------------------------------------------------
 <br><br>
 request
 <% @r = GooglePlaces::Request::NEARBY_SEARCH_URL  %>
 <%= @r %> 